$prime-blue: #14213d;
$prime-grey: #e5e5e5;
$prime-gold: #fca311;


$color-primary: #000;
$color-secondary: #fff;

$color-grey: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$witech-0: #0eb40e;
$witech-25: #4eac4e;
$witech-50: #e01414e6;
$witech-75: #f5bf4c;
$witech-100: #e9e913;


