@import "abstracts/variables";
@import "base/base";
@import "base/typography";


@import "components/buttons.scss";
@import "components/img.scss";


@import "layout/_nav.scss";
@import "layout/_footer.scss";


@import "base/animations";



@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}