// .nav-item {
//   font-size: 2rem;
  
// }

// a.navbar-brand {
//   font-size: 2rem;
//   margin: .5rem .5rem !important;
//   padding: .3rem .3rem;
// }
ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $prime-grey;
  @include clearfix;

  & li:first-child {

      a {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        background-image: linear-gradient(to right, $prime-blue, $prime-gold);
        display: inline-block;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        letter-spacing: .2rem;
        transition: .2s transform;
        text-shadow: .5rem 1rem 2rem rgba($color-primary, .2);
        animation:1.2s animate-pop  cubic-bezier(.26, .53, .74, 1.48);

      }

    }
  & li:not(:first-child) {

      & a:hover {
        // background-color: $color-grey-light-3;
        color: $prime-gold;
        transform: perspective(80rem) scale(.9);
      }
    }

  // & li:nth-child(2) {
  //   animation: 1s moveInRight cubic-bezier(0.6, -0.28, 0.735, 0.045);
    
  // }
  // & li:nth-child(3) {
  //   animation: 1s moveInRight cubic-bezier(0.6, -0.28, 0.735, 0.045);
    
  // }
  // & li:nth-child(3) {
  //   &::before {
  //     content: "340-244-2137";
  //     font-size: 1.8rem;
  //     font-weight: 600;
  //     display: inline-block;
  //     height: 100%;
  //     width: 100%;
  //     position: absolute;
  //     top: 3rem;
  //     left: 70%;
  //     z-index: 1;

  //     @include respond(tab-port) {
  //       z-index: -22;
  //     }

  //   }


  // }
  & li {
    float: left;
    // border-right:.1px solid $prime-gold;
    font-family: "Lato", sans-serif;
    transition: background-color .4s, color .3s;
    @include clearfix;
    
    // & + li {
    //   animation: 1s moveInRight cubic-bezier(0.6, -0.28, 0.735, 0.045);
    // }

    &:last-child {
    border-right: none;   
  }
  & a {
    color: $color-primary;
    font-size: 3rem;
    font-weight: 400;
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    transition: all .6s;
  }
  
}
}



// .active {
//   background-color: #1e39b1;
// }