// .nav-item {
//   font-size: 2rem;
  
// }

// a.navbar-brand {
//   font-size: 2rem;
//   margin: .5rem .5rem !important;
//   padding: .3rem .3rem;
// }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $prime-grey;
  
}

li {
    float: left;
    border-right:.1rem solid $color-grey-light-1;
    font-family: "Lato", sans-serif;

    &:last-child {
    border-right: none;
    
  }
  & a {
    color: $prime-blue;
    font-size: 2rem;
    font-weight: 300;
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }
  & a:hover:not(.active) {
    background-color: $prime-gold;
  }
}

// .active {
//   background-color: #1e39b1;
// }