// .nav-item {
//   font-size: 2rem;
  
// }

// a.navbar-brand {
//   font-size: 2rem;
//   margin: .5rem .5rem !important;
//   padding: .3rem .3rem;
// }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $prime-grey;
  @include clearfix;
  &:first-child {
    animation: .8s moveInRight cubic-bezier(0.6, -0.28, 0.735, 0.045) ;

 
  }
}

li {
    float: left;
    // border-right:.1px solid $prime-gold;
    font-family: "Lato", sans-serif;
    transition: background-color .4s, color .3s;
    & + li {
      animation: 1s moveInLeft cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }
    
    &:last-child {
    border-right: none;
    
  }
  & a {
    color: $color-primary;
    font-size: 3rem;
    font-weight: 400;
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    transition: all .3s;
  }
  & a:hover {
    // background-color: $color-grey-light-3;
    color: $prime-gold;
    transform: scale(.9);
  }
}

// .active {
//   background-color: #1e39b1;
// }