html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
 header, hgroup, menu, nav, section {
	display: block;
}
html {
  scroll-behavior: smooth;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
#directions, #contact {
  color: black;
  background: radial-gradient(circle farthest-side, #f3f3f3, #d5d7d8);
}
#directions:hover, #contact:hover {
  color: #fff;
  background: radial-gradient(circle farthest-side, #888888, #626263);
}

h4.display-5 {
  text-decoration: underline;
  text-decoration-thickness: 5%;
  margin-bottom: 10px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.nav-item {
  font-size: 15px;
  
}
i {
  color: white;
}
a.navbar-brand {
  font-size: 20px;
  margin: 5px 5px !important;
  padding: 3px 5px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
img.hero-image {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .28rem;
  height: auto;
  height: 70vh;
  width: 40vw;
  margin-right: 10px;

}
h1 {
  text-align: center;
}
.carousel {
  width: 50vw;
  margin: 0 auto;
  background-color: silver;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
  
}
h4.display {
  padding-top: 15px;
}
img.set {
  animation: smooth-transition 2s linear  forwards;
}
img.unset {
  animation: smooth-transition2 2s linear forwards ;
}

img.img-thumbnail {
  width: auto;
  height: 450px;
}

.footer-text {
  text-decoration: none;
  padding-bottom: 10px;
}
p a {
  text-decoration: none;
  color: green;
  
}

@keyframes smooth-transition {
  0% {
    opacity: 0.3;

  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
    
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes smooth-transition2 {
  0% {
    opacity: 0.3;

  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
    
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}