.heroSection--btn {
  background: radial-gradient(circle farthest-side, $color-grey-light-1, $color-grey-light-3);
  color: $color-primary;
  margin-bottom: 3rem;
  margin-top: 2rem;
  box-shadow: 0 .5rem 1rem rgba($color-primary, 0.3);

  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 2rem;
    transition: background 1.3s, color .5s;
    position: relative;
    font-size: $default-font-size;
    color: $color-primary;
    opacity: .8;

  }


    &:hover {
      color: $color-secondary;
      background: transparent;
      opacity: 1;
      cursor: pointer;
      color: $prime-gold;
    }
    &:active {
      box-shadow: 0 .3rem .7rem rgba($color-primary, 0.5);
    }
}