
  .row {
    --bs-gutter-x: 0 !important;

}
  
  .thumbnail {
    padding: 0 0 1.2rem 0;
    border: none;
    border-radius: 0;
    
  }
  
  img.set {
    animation: smooth-transition 2s linear  forwards;
  }
  img.unset {
    animation: smooth-transition2 2s linear forwards ;
  }
  
  img.img-thumbnail {
    border: .1rem solid rgba($prime-gold, .25);
    width: auto;
    height: 45rem;
  }