img.hero-image {
    padding: .3rem;
    background-color: $color-secondary;
    border: .1rem solid rgba($prime-gold, .25);
    border-radius: .28rem;
    height: auto;
    height: 70vh;
    width: 50rem;
    margin-right: 1rem;

    @media (min-width: 56.25em) {
      visibility: visible;
     }
    @media (max-width: 62em) {
      visibility: hidden;
     }

  
  }
  
  .thumbnail {
    padding: 0 0 1.5rem 0;
    border: none;
    border-radius: 0;
    
  }
  
  img.set {
    animation: smooth-transition 2s linear  forwards;
  }
  img.unset {
    animation: smooth-transition2 2s linear forwards ;
  }
  
  img.img-thumbnail {
    border: .1rem solid rgba($prime-gold, .25);
    width: auto;
    height: 45rem;
  }