@keyframes witech-link-color {
    0% {
  
      
      
      color: rgba($witech-0, 0.8);
  
    }
  
    25% {
      
      color: rgb($witech-25);
    }
  
    50% {
      
      
      color: rgba($witech-50, 0.9);
  
    }
  
  
    75% {
      
     
      color: rgb($witech-75);
      
      
    }
  
    100% {
      color: rgba($witech-100, 1);  
    }
  }
  
  @keyframes smooth-transition {
    0% {
      opacity: 0.3;
  
    }
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.7;
      
    }
    75% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes smooth-transition2 {
    0% {
      opacity: 0.3;
  
    }
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.7;
      
    }
  
    100% {
      opacity: 1;
    }
  }