@keyframes witech-link-color {
    0% {color: rgba($witech-0, 0.8);}
  
    25% {color: $witech-25;}
  
    50% {color: rgba($witech-50, 0.9);}

    75% {color: $witech-75;}
  
    100% {color: rgba($witech-100, 1);}
  }
  
  @keyframes smooth-transition {
    0% {
      opacity: 0.3;
  
    }
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.7;
      
    }
    75% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes smooth-transition2 {
    0% {
      opacity: 0.3;
  
    }
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.7;
      
    }
  
    100% {
      opacity: 1;
    }
  }
  @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        opacity: 0.5;
        transform: translateX(1rem);

    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100);

    }

    80% {
        opacity: 0.5;
        transform: translateX(-1rem);

    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(3rem);

    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
    
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.animate {
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}

/* Glow In */
.animate.glow {
  animation-name: animate-glow;
  animation-timing-function: ease;
}

@keyframes animate-glow {
  0% {
    opacity: 0;
    filter: brightness(5) saturate(5);
    transform: scale(0.8, 0.8);
  }
  100% {
    opacity: 1;
    filter: brightness(1) saturate(1);
    transform: scale(1, 1);
  }
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.delay-1 {
  animation-delay: 0.6s;
}
.delay-2 {
  animation-delay: 0.7s;
}
.delay-3 {
  animation-delay: 0.8s;
}
.delay-4 {
  animation-delay: 4.2s;
}