h1 {
    text-align: center;
  }
h4.display-5 {
    text-decoration: underline;
    text-decoration-thickness: 5%;
    margin-bottom: 10px;
  }

h4.display {
padding-top: 15px;
}

i {
color: white;
}

p a {
    text-decoration: none;
    color: green;
    padding: 10px;
    margin: 0 auto;
  }
  