body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey;
}

h1 {
    text-align: center;
  }
h4.display-5 {
    text-decoration: underline;
    text-decoration-thickness: 5%;
    margin-bottom: 1rem;
  }

h4.display {
padding-top: 1.5rem;
}

i {
color: $color-secondary;
}

p a {
    text-decoration: none;
    color: green;
    padding: 1rem;
    margin: 0 auto;
  }
  