html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
header, hgroup, menu, nav, section {
  display: block; }

html {
  scroll-behavior: smooth; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

#directions, #contact {
  transition: color 1.2s;
  opacity: 0.6;
  color: black;
  background: radial-gradient(circle farthest-side, #f3f3f3, #d5d7d8); }

#directions:hover, #contact:hover {
  color: #fff;
  background: radial-gradient(circle farthest-side, #888888, #626263);
  opacity: 0.9;
  cursor: pointer; }

h4.display-5 {
  text-decoration: underline;
  text-decoration-thickness: 5%;
  margin-bottom: 10px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.nav-item {
  font-size: 15px; }

i {
  color: white; }

a.navbar-brand {
  font-size: 20px;
  margin: 5px 5px !important;
  padding: 3px 5px; }

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

img.hero-image {
  padding: 3px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .28rem;
  height: auto;
  height: 70vh;
  width: 500px;
  margin-right: 10px; }

h1 {
  text-align: center; }

.carousel {
  width: 50vw;
  margin: 0 auto;
  background-color: silver; }

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0; }

h4.display {
  padding-top: 15px; }

img.set {
  animation: smooth-transition 2s linear  forwards; }

img.unset {
  animation: smooth-transition2 2s linear forwards; }

img.img-thumbnail {
  width: auto;
  height: 450px; }

footer {
  background-image: linear-gradient(to right, #f1f3fc, #f1f3fc 15%, #fff 45%, #fff 65%, #f1f3fc 85%); }

.footer-text {
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px; }

p a {
  text-decoration: none;
  color: green;
  padding: 10px;
  margin: 0 auto; }

#witech {
  opacity: 0.8;
  animation: witech-link-color 12s ease-in-out alternate infinite; }

@keyframes witech-link-color {
  0% {
    color: rgba(14, 180, 14, 0.8); }
  25% {
    color: #4eac4e; }
  50% {
    color: rgba(224, 20, 20, 0.9); }
  75% {
    color: #f5bf4c; }
  100% {
    color: #e9e913; } }

@keyframes smooth-transition {
  0% {
    opacity: 0.3; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 0.7; }
  75% {
    opacity: 0.9; }
  100% {
    opacity: 1; } }

@keyframes smooth-transition2 {
  0% {
    opacity: 0.3; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 0.7; }
  100% {
    opacity: 1; } }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem; } }
