@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,700&family=Montserrat:wght@100;400;500;700;900&family=Roboto:wght@400;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
header, hgroup, menu, nav, section {
  display: block; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  line-height: 1;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

h1 {
  text-align: center; }

h4.display-5 {
  text-decoration: underline;
  text-decoration-thickness: 5%;
  margin-bottom: 1rem; }

h4.display {
  padding-top: 1.5rem; }

i {
  color: #fff; }

p a {
  text-decoration: none;
  color: green;
  padding: 1rem;
  margin: 0 auto; }

.heroSection--btn {
  background: radial-gradient(circle farthest-side, #f7f7f7, #eee);
  color: #000;
  margin-bottom: 3rem;
  margin-top: 2rem; }
  .heroSection--btn:link, .heroSection--btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 2rem;
    transition: transform .2s;
    position: relative;
    font-size: 1.6rem;
    color: #000; }
  .heroSection--btn:hover {
    color: #fff;
    background: radial-gradient(circle farthest-side, #eee, #f7f7f7);
    opacity: 0.9;
    cursor: pointer;
    color: #fca311; }

img.hero-image {
  padding: .3rem;
  background-color: #fff;
  border: .1rem solid #dee2e6;
  border-radius: .28rem;
  height: auto;
  height: 70vh;
  width: 50rem;
  margin-right: 1rem; }

.thumbnail {
  padding: 0 0 1.5rem 0;
  border: none;
  border-radius: 0; }

img.set {
  animation: smooth-transition 2s linear  forwards; }

img.unset {
  animation: smooth-transition2 2s linear forwards; }

img.img-thumbnail {
  width: auto;
  height: 45rem; }

.heroSection {
  font-family: "Lato", sans-serif;
  color: #14213d; }
  .heroSection hr {
    background-color: #fca311;
    margin-bottom: 3rem; }
  .heroSection-heroContainer {
    text-align: center; }
  .heroSection--h1 {
    font-size: 4.2rem;
    font-weight: 700;
    margin-bottom: 2rem; }
  .heroSection--strong {
    font-weight: 600; }
  .heroSection--p {
    font-size: 2.6rem;
    font-weight: 300; }
  .heroSection--em {
    font-style: italic;
    font-weight: 500; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e5e5e5; }

li {
  float: left;
  border-right: 0.1px solid #fca311;
  font-family: "Lato", sans-serif; }
  li:last-child {
    border-right: none; }
  li a {
    color: #14213d;
    font-size: 2rem;
    font-weight: 300;
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none; }
  li a:hover {
    background-color: #f7f7f7; }

footer {
  background-image: linear-gradient(to right, #f1f3fc, #f1f3fc 15%, #fff 45%, #fff 65%, #f1f3fc 85%); }

.footer-text {
  text-decoration: none;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

#witech {
  opacity: 0.8;
  animation: witech-link-color 12s ease-in-out alternate infinite; }

@keyframes witech-link-color {
  0% {
    color: rgba(14, 180, 14, 0.8); }
  25% {
    color: #4eac4e; }
  50% {
    color: rgba(224, 20, 20, 0.9); }
  75% {
    color: #f5bf4c; }
  100% {
    color: #e9e913; } }

@keyframes smooth-transition {
  0% {
    opacity: 0.3; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 0.7; }
  75% {
    opacity: 0.9; }
  100% {
    opacity: 1; } }

@keyframes smooth-transition2 {
  0% {
    opacity: 0.3; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 0.7; }
  100% {
    opacity: 1; } }

@media (min-width: 77rem) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem; } }
