.heroSection {
    font-family: "Lato", sans-serif;
    color: $prime-blue;

    &--image {
        position: relative;
        overflow:visible;
        img {
            position: absolute;
            bottom: 0%;
            left: 70rem;
            max-width: 30%;
        }
            
    }
    
    &--contactInfo {
        font-family: "Montserrat", sans-serif;
        

        & h3 {
            font-family: "Anton", cursive;
            font-size: 2rem;
            // font-weight: 200;
            display: inline-block;
            
        }
        & p {
            font-size: 1.8rem;
            display: inline-block;
        }

    }

    &-heroContainer {
        text-align: center;
    }
    &--h1 {
        font-size: 4.2rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    &--strong {
        font-weight: 600;
    }
    
    &--p {
        font-size: 2.6rem;
        font-weight: 300;
    }
    &--em {
        // font-style: italic;
        font-weight: 200;
    }
}

.portfolioSection {
    font-family: "Lato", cursive;
        

        & h1 {
            
            font-size: 4rem;
            font-weight: 600;
            
            
            
        }
        & h4 {
            margin-top: 1rem;
            font-size: 3rem;
            font-weight: 600;
        }
        & p {
            font-size: 2rem;
            display: inline-block;
            font-weight: 300;
        }

}
.home-hr {

    background-color: $prime-gold;
    margin-bottom: 3rem;
}