.heroSection {
    font-family: "Lato", sans-serif;
    color: $prime-blue;

    &--image {
        position: relative;
        
        img {
            position: absolute;
            bottom: 0%;
            left: 70rem;
            height: 50rem;
            max-width: 30%;
            border: 1px solid $prime-gold;

            @include respond(tab-port) {
                visibility: visible;
            }
            @include respond(tab-land) {
                visibility: hidden;
            }
                         
            @media (min-width: 1200px) and (max-width: 1800px) {
                left: 90rem;
            }

        }
            
    }
    
    &--contactInfo {
        font-family: "Montserrat", sans-serif;
        

        & h3 {
            font-family: "Roboto", cursive;
            font-size: 2rem;
            font-weight: 600;
            font-style: bold;
            display: inline-block;
            
        }
        & p {
            font-size: 1.6rem;
            display: inline-block;
            font-weight: 400;
        }

    }

    &-heroContainer {
        text-align: center;
        animation: .8s moveInBottom linear;
    }
    &--h1 {
        font-size: 4.2rem;
        font-weight: 700;
        margin-bottom: 2rem;
        animation:  smooth-transition .8s linear backwards;
    } 
    &--strong {
        font-weight: 600;
    }
    
    &--p {
        font-size: 2.6rem;
        font-weight: 300;
    }
    &--em {
        animation:  smooth-transition .8s linear backwards;
        font-weight: 300;
        font-style: italic;
    }
}

.portfolioSection {
    font-family: "Lato", cursive;
        

        & h1 {
            
            font-size: 4rem;
            font-weight: 600;
            
            
            
        }
        & h4 {
            margin-top: 1rem;
            font-size: 2.7rem;
            font-weight: 600;
        }
        & p {
            font-size: 2rem;
            display: inline-block;
            font-weight: 300;
        }

}
.home-hr {

    background-color: $prime-gold;
    margin-bottom: 3rem;
}